// color palette
$first-color:#2893d6;
$second-color: rgb(3, 67, 99);
$white:#ebecf2;
$shadow-bg: rgba(0, 0, 40, 0.6);
$intense-shadow: rgba(2, 40, 58, 0.96);

// gradient palette
$first-gradient:radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(31, 146, 217, 0.443) 50%, rgba(3, 67, 99,0.10407913165266103) 90%);
$second-gradient:radial-gradient(circle, rgba(34,134,196,1) 0%, rgba(34,134,196,0.4430147058823529) 50%, rgba(34,134,196,0.10407913165266103) 90%);