@import 'colors';
@import 'animation';
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-padding-top: 50px;
}
body {
	background-color: $white;
	font-family: 'Montserrat', sans-serif;
}
.slick-prev:before,
.slick-next:before {
	color: $first-color;
}
.slick-dots li button:before {
	color: $white;
	font-size: 10px;
}
.slick-dots li.slick-active button:before {
	color: $first-color;
	font-size: 16px;
}

h2 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.section {
	padding: 3em 1em;
}
.underline {
	margin: 0 auto 20px;
	width: 35%;
	border-radius: 50%;
	height: 3px;
	background-image: $second-gradient;
}
.underline-header {
	margin: 0 auto 10px;
	width: 65%;
}

// <!-- ------------ -->
//   <!-- NAVIGATION-->
//   <!-- ------------ -->

.nav {
	position: fixed;
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(0, 0, 25, 0.65);
	z-index: 100;
	&__logo-box {
		padding: 10px;
		padding-left: 16px;
		z-index: 100000;
	}
	&__logo {
		text-decoration: none;
		color: $white;
		font-weight: bold;

		&:hover {
			color: $first-color;
		}
	}
	&__items {
		display: none;
		align-items: center;
		justify-content: space-between;
		width: 65%;
	}
	&__item {
		text-decoration: none;
		color: $white;
		cursor: pointer;
		&:hover {
			color: $first-color;
		}
	}
	&__mobile {
		&-items {
			position: fixed;
			top: 0;
			right: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			text-align: center;
			height: 100vh;
			width: 100%;
			transform: translateX(100%);
			background-color: $intense-shadow;
			transition: 0.5s cubic-bezier(0.1, 0.82, 0.25, 1);
			z-index: 1000;
			&--active {
				transform: translateX(0);
			}
		}
		&-item {
			position: relative;
			display: block;
			margin: 0.7em 0;
			padding: 0.5em 2em;
			font-size: 22.4px;
			color: $white;
			text-decoration: none;
			&::before {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				content: '';
				transition: transform 0.3s;
				border-radius: 50%;
				height: 3px;
				background-image: $first-gradient;
			}
			&:hover::before {
				transform: scaleY(2);
			}
		}
	}
}
@keyframes navItemsAnimation {
	from {
		transform: translateX(200%);
	}
	to {
		transform: translateX(0);
	}
}
.nav-items-animation {
	animation: navItemsAnimation 0.4s both;
}
.burger-box {
	padding: 5px;
	width: 40px;
	height: 80%;
	background: none;
	border: 2px solid transparent;
	cursor: pointer;
	z-index: 10000;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	transition: all 0.5s ease-out;
	&:hover .burger-btn__bar {
		background-color: $first-color;
	}
}
.burger-btn__bar {
	width: 80%;
	height: 2px;
	background-color: #fff;
	transition: all 0.5s ease-out;
}
.blue-text {
	color: $first-color;
}

.burger-box.close .burger-btn__bar:nth-child(1) {
	transform: rotate(45deg) translate(5px, 5px);
}

.burger-box.close .burger-btn__bar:nth-child(2) {
	opacity: 0;
}

.burger-box.close .burger-btn__bar:nth-child(3) {
	transform: rotate(-45deg) translate(5px, -5px);
}

// <!-- ------------ -->
//   <!-- HEADER-->
//   <!-- ------------ -->

.header {
	color: $white;
	&__title {
		font-size: 28.8px;
	}
	&__subtitle {
		margin-top: 16px;
		font-size: 14.4px;
	}
	&__img {
		position: relative;
		height: 100vh;
		background-image: url(../img/machine-small.jpg);
		background-position: center;
		background-size: cover;
		z-index: 0;
	}
	&__img-shadow {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: $shadow-bg;
		z-index: -20;
	}
	&__img-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		height: 100%;
		padding: 10px;
		z-index: 100;
	}
	&__scroll {
		display: block;
		position: relative;
		width: 60px;
		height: 60px;
		bottom: 150px;
		transform: translateX(-50%);
		left: 50%;
		border-radius: 50%;
		border: 3px solid $first-color;
		background-color: rgba(0, 0, 25, 0.65);
		cursor: pointer;
		&-icon {
			position: absolute;
			left: 50%;
			transform: translate(-50%, -50%);
			top: 38%;
			font-size: 45px;
			color: $first-color;
		}
	}
}
// <!-- ------------ -->
//   <!-- OFFER-->
//   <!-- ------------ -->

.offer {
	&__box {
		display: flex;
		justify-content: space-evenly;
		align-items: flex-start;
		text-align: center;
		width: 100%;
		flex-wrap: wrap;
	}
	&__item {
		width: 100%;
		padding: 10px;
		.underline {
			width: 30%;
			display: none;
			height: 2px;
		}
		&-sign {
			background: #a7cfdf;
			background: linear-gradient(to bottom right, $second-color 0%, #2486aca2 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			font-size: 2em;
			// text-shadow: 3px 2px 3px rgba(66, 66, 66, 0.295);
		}
		&-title {
			font-size: 1em;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: $second-color;
		}
	}
}

// <!-- ------------ -->
//   <!-- GALLERY-->
//   <!-- ------------ -->

.gallery {
	position: relative;
	background-image: url(../img/tires-small.jpg);
	background-size: cover;
	z-index: 0;
	h2 {
		color: $white;
	}

	.card-img-top {
		height: 300px;
		object-fit: cover;
	}
	&__reference {
		padding: 20px 0;
		font-weight: bold;
		text-align: center;
		letter-spacing: 1px;
		color: $white;
		font-size: 12px;
	}
	.gallery-shadow {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 30, 0.7);
		z-index: -5;
	}
	.card {
		transition: transform 0.3s;
	}
	.card:hover {
		transform: scale(0.98);
	}
	.card-title {
		margin-bottom: 10px;
		text-transform: uppercase;
		text-align: center;
		font-weight: bold;
	}
	.card-body {
		height: 200px;
		.card-text {
			text-align: justify;
			font-size: 10px;
		}
	}
}

// <!-- ------------ -->
//   <!-- PRICES-->
//   <!-- ------------ -->

.prices {
	.row {
		margin: 0;
	}
	.reference {
		font-weight: bold;
		text-align: center;
		letter-spacing: 1px;
		font-size: 12px;
	}
	&__boxes {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-start;
		flex-wrap: wrap;
	}
	&__box {
		position: relative;
		margin: 20px 0;
		padding: 20px 5px;
		width: 100%;
		border-right: 4px solid $first-color;
		border-bottom: 4px solid $first-color;
		border-left: 4px solid $first-color;
	}
	&__box-top {
		display: flex;
		flex-direction: row;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		&:before {
			display: block;
			content: '';
			flex: 1 0 0;
			height: 1px;
			border-top: 4px solid $first-color;
		}
		&:after {
			display: block;
			content: '';
			flex: 3 0 0;
			height: 1px;
			border-top: 4px solid $first-color;
		}
	}
	&__box-contents {
		text-align: center;
		.table {
			margin: 10px 0;
			font-size: 10px;
			vertical-align: middle;
			text-align: left;
			td:last-of-type {
				text-align: right;
			}
		}
	}
}
.top__content {
	height: 26px;
	overflow: hidden;
	text-transform: uppercase;
	flex: 0 0 65%;
	margin-top: -10px;
	text-align: center;
	font-weight: bold;
}
.contact-link {
	color: $first-color;
	text-decoration: none;
	padding: 10px 0;
}
.contact-link:hover {
	text-decoration: underline;
}

// <!-- ------------ -->
//   <!--lOCATION-->
//   <!-- ------------ -->

.location {
	position: relative;
	background-image: url(../img/wrenches-small.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 0;
	h2 {
		color: $white;
	}
	&__shadow {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 30, 0.7);
		z-index: -5;
	}
	&__boxes {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		overflow: hidden;
		font-size: 0.8em;
	}
	&__map {
		border-radius: 3px;
		height: 350px;
		width: 100%;
		order: 1;
	}
	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		text-align: center;
		height: 300px;
		width: 100%;
		padding: 15px 30px;
		background-color: $second-color;
		color: $white;
		overflow: hidden;
		order: 0;

		p {
			margin: 0.5em;
			font-weight: 200;
			&:last-child {
				display: none;
			}
		}
	}
	&__contact {
		width: 100%;
	}
	&__title {
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	.carousel {
		margin-bottom: 50px;
		border-radius: 3px;
		overflow: hidden;
	}
	.carousel-item {
		height: 450px;
		position: relative;
	}
	.carousel-caption {
		position: absolute;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 30, 0.7);
	}
	.carousel-indicators {
		padding-bottom: 10px;
	}
	.cards {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&__item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: relative;
			width: 100%;
			// height: 350px;
			margin-bottom: 30px;
			border-radius: 3px;
			overflow: hidden;
		}
		&__img {
			width: 100%;
			height: 55%;
			object-fit: cover;
		}
		&__body {
			min-height: 45%;
			padding: 15px 10px 10px;
			background-color: $white;
		}
		&__title {
			text-align: center;
			text-transform: uppercase;
			font-weight: 400;
			font-size: 12.8px;
			font-weight: bold;
		}
		&__text {
			text-align: center;
			margin-bottom: 0;
			font-size: 10px;
		}
		&__footer {
			width: 100%;
			border-top: 1px solid rgb(189, 189, 189);
			background-color: rgba(225, 227, 239, 0.932);
			text-align: center;
			&-text {
				color: $first-color;
				font-size: 10px;
				font-weight: bold;
			}
		}
	}
}

// <!-- ------------ -->
//   <!-- CONTACT-->
//   <!-- ------------ -->

.contact {
	&__title {
		font-size: 2em;
		text-transform: uppercase;
		color: $second-color;
		text-shadow: 3px 2px 3px rgba(66, 66, 66, 0.295);
	}
	&__text {
		font-weight: bold;
		letter-spacing: 2px;
		color: $second-color;
		font-size: 11.2px;
		&:last-of-type {
			font-size: 11.2px;
			color: rgb(112, 112, 112);
		}
	}
	&__link {
		text-decoration: none;
		padding: 4px 2px;
		color: $first-color;
		&:hover {
			text-decoration: underline;
		}
	}
	.container {
		position: relative;
		padding: 20px;
		color: $white;
		z-index: 0;
	}
	&__bottom {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&-text {
			text-align: center;
			margin: 0;
			padding-top: 3em;
			color: rgb(112, 112, 112);
		}
		&-icon {
			font-size: 1.6em;
			padding: 12.8px;
			color: $first-color;
			text-shadow: 3px 2px 3px rgba(66, 66, 66, 0.295);
		}
	}
}

// <!-- ------------ -->
//   <!-- FOOTER-->
//   <!-- ------------ -->

.footer {
	color: $white;
	background-color: $second-color;
	.wrapper {
		margin: 0 auto;
		max-width: 1400px;
		padding: 2em 2em 0 2em;
	}
	&__box {
		font-size: 22.4px;
		.underline {
			width: 50%;
			background-image: $first-gradient;
		}
	}
	&__box-desktop {
		display: none;
	}
	&__box-title {
		text-align: center;
		text-transform: uppercase;
	}
	&__box-social {
		margin: 0 1em;
		text-align: center;
		&-text {
			display: none;
			font-size: 0.8em;
		}
	}
	&__box-link {
		font-size: 28.8px;
		color: $white;
		text-decoration: none;
		transition: color 0.3s;
		&:hover {
			color: $first-color;
		}
	}
	&__bottom-text {
		padding: 1em;
		text-align: center;
		margin: 0;
		font-size: 12.8px;
	}
}

// <!-- ------------ -->
//   <!-- MEDIA QUERIES-->
//   <!-- ------------ -->
@media (min-width: 320px) {
	.top__content {
		flex: 0 0 50%;
	}
	.location {
		.cards {
			&__img{
				height: 75%;
			}
			&__body{
				min-height: 35%;
			}
		}
	}
	.gallery {
		.card-img-top {
			height: 310px;
		}
		.card-body {
			height: 190px;
		}
	}
}
@media (min-width: 375px) {
	.top__content {
		flex: 0 0 50%;
	}
	.location {
		.cards {
			&__title {
				font-size: 16px;
			}
			&__text {
				font-size: 12px;
			}
		}
	}
	.gallery {
		.container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.card-group {
			width: 80%;
			max-width: 310px;
		}
	}
}
@media (min-width: 432px) {
	.location {
		.cards {
			&__img {
				height: 60%;
			}
			&__title {
				text-transform: uppercase;
				font-size: 16px;
			}
			&__text {
				font-size: 12px;
			}
		}
	}
	.gallery {
		.card-img-top {
			height: 360px;
		}
		.card-body {
			height: 180px;
		}
		.card-text {
			font-size: 12px;
		}
	}
	.card-body {
		.card-text {
			font-size: 13.6px;
		}
	}
}
@media (min-width: 576px) {
	.prices {
		&__box-contents {
			text-align: center;
			.table {
				margin: 10px 0;
				font-size: 12.8px;
			}
		}
		.top__content {
			flex: 0 0 40%;
		}
	}
	.location {
		.cards {
			&__img {
				height: 60%;
			}
			.cards__title {
				font-size: 19.2px;
			}
			.cards__text {
				font-size: 14.4px;
			}
			.cards__footer {
				&-text {
					font-size: 12px;
				}
			}
		}
	}

	.offer {
		&__item {
			width: 50%;
			padding: 10px;
			.underline {
				display: block;
			}
			&-sign {
				font-size: 2em;
			}
		}
	}
	.footer {
		&__box-social {
			&-text {
				display: block;
				font-size: 0.6em;
			}
		}
	}
	.gallery {
		.card-group {
			max-width: none;
			width: 100%;
		}
		.card-img-top {
			height: 340px;
		}
		.card-body {
			height: 200px;
		}
	}
}
@media (min-width: 768px) {
	.prices {
		&__box-contents {
			text-align: center;
			.table {
				margin: 10px 0;
				font-size: 12px;
			}
		}
		.top__content {
			flex: 0 0 35%;
		}
	}

	.nav {
		&__items {
			padding-right: 25px;
			display: flex;
		}
	}
	.burger-box {
		display: none;
	}
	.location {
		.cards {
			justify-content: space-between;
			flex-direction: row;
			&__item {
				height: 350px;
				width: 48%;
			}
			&__img {
				height: 55%;
			}
			.cards__title {
				font-size: 16px;
			}
			.cards__text {
				font-size: 12.8px;
			}
			.cards__footer {
				&-text {
					font-size: 12.8px;
				}
			}
		}
	}
	.gallery {
		.card-group {
			width: 100%;
		}
		.card-body {
			.card-title {
				font-size: 19.2px;
			}
			.card-text {
				font-size: 11.2px;
			}
		}
		.card {
			.card-img-top {
				height: 380px;
			}
			.card-body {
				height: 180px;
			}
		}
	}
	.footer {
		&__boxes {
			display: flex;
			justify-content: space-between;
		}
		&__box-desktop {
			display: block;
		}
		&__box {
			margin: 0 0.8em;
			width: 30%;
		}
		&__box-title {
			font-size: 22.4px;
		}
		&__box-list {
			list-style: none;
			padding-left: 0;
			font-size: 0.6em;
			text-align: center;
		}
		&__box-list-item {
			margin-bottom: 1em;
			a {
				color: $white;
				text-decoration: none;
			}
		}
	}
}
@media (min-width: 992px) {
	.top__content {
		flex: 0 0 30%;
	}
	.header {
		&__img {
			background-image: url(../img/machine-big.jpg);
		}
		&__title {
			font-size: 32px;
		}
		&__subtitle {
			font-size: 19.2px;
		}
	}
	.offer {
		&__item {
			width: 25%;
			padding: 10px;
			&-sign {
				font-size: 2.5em;
			}
		}
	}
	.nav {
		&__items {
			padding-right: 20px;
			display: flex;
			width: 60%;
		}
	}
	.burger-box {
		display: none;
	}
	.location {
		background-image: url(../img/wrenches-big.jpg);
		.cards {
			display: none;
		}
	}
	.gallery {
		background-image: url(../img/tires-big.jpg);
		.card-text {
			font-size: 11.2px;
		}
		.card {
			.card-img-top {
				height: 360px;
			}
			.card-body {
				height: 200px;
			}
		}
	}
}

@media (min-width: 1200px) {
	.prices {
		&__box {
			width: 45%;
		}
		.top__content {
			flex: 0 0 35%;
		}
	}

	.nav {
		&__items {
			width: 50%;
		}
	}
	.footer {
		&__box-link {
			font-size: 35.2px;
		}
	}
	.location {
		.carousel-item {
			height: 550px;
			position: relative;
		}
		.location__map {
			height: 450px;
		}
	}
	.gallery {
		.card {
			.card-img-top {
				height: 380px;
			}
			.card-body {
				height: 220px;
			}
		}
	}
}
@media (min-width: 1400px) {
	.top__content {
		flex: 0 0 25%;
	}
	.header {
		&__title {
			font-size: 38.4px;
		}
	}
	.offer {
		&__item {
			width: 25%;
			padding: 30px;
			&-sign {
				font-size: 2.8em;
			}
		}
	}
	.nav {
		&__items {
			width: 40%;
		}
	}
	.location {
		.carousel-item {
			height: 600px;
			position: relative;
		}
		.location__map {
			height: 500px;
		}
	}
	.gallery {
		.card {
			.card-img-top {
				height: 440px;
			}
			.card-body {
				height: 200px;
			}
		}
	}
}
